/* Media Queries */


h1 {
    color: #505050;
}

@media screen and (max-width: 500px) {
    h1 {
        color: rgb(120, 180, 190);
    }
}


/* Min-Width */

p {
    background-color: rgb(130, 160, 255);
    color: black;
}

@media screen and (min-width: 800px) {
    p {
        background-color: black;
        color: whitesmoke;
    }
}


/* Landscape */

h2 {
    display: none;
}

@media screen and (orientation: landscape) {
    h2 {
        display: block;
    }
}